/*styling.css*/
body {
    background: url(images/6.jpg) center center fixed;
    background-size: cover;
    color: #fff;
    background-repeat: no-repeat;
}



#main-cont{
font-family: 'Pacifico', cursive;
margin-left: 20px;
}

#hello
{
  display: block;
  font-size: 100px;
}

#text{
display: inline-block;
font-size: 70px;
background-image: linear-gradient(to right, #ffe359 0%, #fff2ac 100%);
border-radius: 30px;
}
p.helo1
{
  padding: 20px;
}


#butns
{
  display: inline-block;
  float: right;


}

#row1{
  display: block;
  margin-bottom: 30px;
  margin-top: 30px;
}

#stopwatch
{
      display: inline-block;
      border-radius: 30px;
      height: 200px;
      width: 200px;
      color: black;
      font-size: 30px;
      margin-right: 100px;

}

#timer
{
      display: inline-block;
      border-radius: 30px;
      height: 200px;
      width: 200px;
      color: black;
      font-size: 30px;
      margin-right: 100px;

}


#row2{
  display: block;
  margin-bottom: 30px;
  margin-top: 30px;
}

#alarm
{
      display: inline-block;
      border-radius: 30px;
      height: 200px;
      width: 200px;
      color: black;
      font-size: 30px;
      margin-right: 100px;

}

#clocks
{
      display: inline-block;
      border-radius: 30px;
      height: 200px;
      width: 200px;
      color: black;
      font-size: 30px;
      margin-right: 100px;

}


#row3{
  display: block;
  margin-bottom: 30px;
  margin-top: 30px;
}

#watches
{
      display: inline-block;
      border-radius: 30px;
      height: 200px;
      width: 200px;
      color: black;
      font-size: 30px;
      margin-right: 100px;

}

#p_watches
{
      display: inline-block;
      border-radius: 30px;
      height: 200px;
      width: 200px;
      color: black;
      font-size: 26px;
      margin-right: 100px;


}

#row4{
  display: block;
  margin-bottom: 30px;
  margin-top: 30px;
}




#intern_time
{
      display: inline-block;
      border-radius: 30px;
      height: 200px;
      width: 500px;
      color: black;
      font-size: 30px;
      margin-right: 100px;

}


.btn1{
  box-shadow: 0px 10px rgba(61, 61, 61, .6);
  -moz-box-shadow: 0px 10px rgba(61, 61, 61, .6);
  -webkit-box-shadow: 0px 10px rgba(61, 61, 61,.6);

}


.btn1:hover{
    background-color: rgba(135, 132, 132, 0.5);
    color: #fff;
    border: none;
}

p.copy_{
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  font-style: italic;
  color: white;
  margin-top: 30px;
}

#copy{
  display: block;
  padding: 50px;
}



/*use media queries to change icons size in small devices*/
@media only screen and (max-width: 1250px){
    body{
      background: #808080;
      background-image: linear-gradient(to right, #80B7E8 0%, #13426C 100%);
}
#main-cont{
  margin:20px;
}
    .btn1{
      display: block;
      float: left;

      margin-top: 40px;
    }
    #hello
    {
      display: block;
      font-size: 40px;
    }

    #text{
    display: block;
    font-size: 30px;

    color: black;
    background-image: linear-gradient(to right, #808080 0%, #ffffff 100%);
    border-radius: 30px;
    }
    p.helo1
    {
      padding: 20px;
    }


    #butns
    {
      display:block;
      
      margin-left: 40px;


    }

    #row1{
      display: block;
      margin-bottom: 30px;
      margin-top: 30px;
    }

    #stopwatch
    {

          display: block;
          border-radius: 30px;
          height: 50px;
          width: 300px;
          color: black;
          font-size: 20px;


    }

    #timer
    {
      display: block;
      border-radius: 30px;
      height: 50px;
      width: 300px;
      color: black;
      font-size: 20px;


    }


    #row2{
      display: block;
      margin-bottom: 30px;
      margin-top: 30px;
    }

    #alarm
    {
      display: block;
      border-radius: 30px;
      height: 50px;
      width: 300px;
      color: black;
      font-size: 20px;


    }

    #clocks
    {
      display: block;
      border-radius: 30px;
      height: 50px;
      width: 300px;
      color: black;
      font-size: 20px;


    }


    #row3{
      display: block;
      margin-bottom: 30px;
      margin-top: 30px;
    }

    #watches
    {
      display: block;
      border-radius: 30px;
      height: 50px;
      width: 300px;
      color: black;
      font-size: 20px;


    }

    #p_watches
    {
      display: block;
      border-radius: 30px;
      height: 50px;
      width: 300px;
      color: black;
      font-size: 20px;



    }

    #row4{
      display: block;
      margin-bottom: 30px;
      margin-top: 30px;
    }




    #intern_time
    {
      display: block;
      border-radius: 30px;
      height: 50px;
      width: 300px;
      color: black;
      font-size: 20px;
     


    }

    p.copy_{

      font-size: 10px;
      color: white;
    }




}
